name: anypay
description: 'AnyPay is a lightweight Flutter package for displaying customizable payment UI with animated result screens'
version: 0.0.1-dev.3
homepage: https://github.com/PravinKunnure/anypay
repository: https://github.com/PravinKunnure/anypay
documentation: https://github.com/PravinKunnure/anypay#readme

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
