name: anypay
description: 'AnyPay is a lightweight, UI-agnostic Flutter payment abstraction that provides a unified API for integrating multiple payment providers using an adapter-based architecture.'
version: 0.1.5
homepage: https://github.com/PravinKunnure/anypay
repository: https://github.com/PravinKunnure/anypay
documentation: https://github.com/PravinKunnure/anypay#readme

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
